To get started

- git clone https://github.com/bernardoleary/DevOpsDays-Wellington-2018.git
- cd DevOpsDays-Wellington-2018
- jupyter-notebook.exe

In [1]:
import sys
import pandas as pd

print (sys.version)

3.6.5 (v3.6.5:f59c0932b4, Mar 28 2018, 16:07:46) [MSC v.1900 32 bit (Intel)]

In [4]:
bug_predictor_sample_dataset = pd.read_csv('bug_predictor_sample_dataset.csv')
bug_predictor_sample_dataset[:10]

,merge_id,date_merged,requesting_user,no_of_commits,no_of_files,lines_of_code,bug_raised_in_uat,bug_raised_in_prod
0,30002389,20/12/2014,Hemi,7,9,104,1,0
1,30002396,27/02/2015,Mary,5,3,6,0,0
2,30002403,22/09/2015,Pete,7,9,53,0,0
3,30002410,25/04/2017,Hemi,2,4,60,0,0
4,30002417,23/03/2017,Raj,3,8,27,1,0
5,30002424,8/06/2015,Hemi,6,14,174,0,0
6,30002431,18/07/2015,Pete,3,6,20,1,0
7,30002438,5/01/2017,Michelle,4,6,92,0,0
8,30002445,22/01/2015,Michelle,7,2,60,0,1
9,30002452,7/05/2014,Hemi,2,8,101,1,0